

.container {
    width: 100%; 
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}


.title {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0px;
    color:var(--secondary-color);
}

